$font-family-sans-serif: 'Source Sans Pro', 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif !default;
$font-family-monospace: hack, 'Source Code Pro', 'SFMono-Regular', menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace !default;

$primary: #6f42c1 !default;
$secondary: #6610f2 !default;
